<a href="/pages/online" class="p-fix-bnr">
  <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/icn_cart.svg?v=1681795967" alt=""></i>
  <div class="p-txt-wrapper">
    <p class="c-txt">オンラインストアはこちら</p>
    <p class="c-en">ONLINE STORE</p>
  </div>
</a>
<!-- /.p-fix-bnr -->
<div class="l-bg-content">
  <div class="p-top-mv">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/sp_mv01.jpg?v=1681791650" media="(max-width: 767.98px)">
            <img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/mv01.jpg?v=1681791650" alt="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/sp_mv02.jpg?v=1681791650" media="(max-width: 767.98px)">
            <img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/mv02.jpg?v=1681791650" alt="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/sp_mv03.jpg?v=1681791650" media="(max-width: 767.98px)">
            <img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/mv03.jpg?v=1681791651" alt="">
          </picture>
        </div>
      </div>
    </div>
    <p class="c-txt"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/mv_txt.svg?v=1681795967" alt=""></p>
    <div class="p-smoke">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_sp_smoke.png?v=1681795967" media="(max-width: 767.98px)">
        <img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_smoke.png?v=1681795968" alt="">
      </picture>
    </div>
  </div>
  <!-- /.p-mv -->
  <section class="p-top-greeting">
    <div class="l-content__inner">
      <div class="p-top-greeting-wrapper">
        <div class="p-top-greeting-content">
          <h2 class="p-section__ttl">ブランド牛の<br>
            故郷、伊江島。</h2>
          <p class="c-txt">私ども農業生産法人株式会社伊江牛では、<br class="u-pc">質の良い安全かつ安心なお肉を<br class="u-pc">皆様の食卓にお届けしたいと言う想いで<br class="u-pc">弊社は畜産から加工販売まで自社で行っています。</p>
          <p class="c-txt">
            一人でも多くの人に伊江牛に出会って頂き<br class="u-pc">お肉の本当の美味しさを味わって頂きたい、<br class="u-pc">そんな想いを胸に<br class="u-pc">牛と向き合い命を頂く事に感謝しながら<br class="u-pc">お肉と向き合い笑顔溢れる食卓を思い浮かべながら<br class="u-pc">お客様と向き合っております。
          </p>
          <p class="c-txt">スタッフ一同の真剣な想いと<br class="u-pc">優しい気持ちの詰まった商品であると<br class="u-pc">自負しております。</p>
          <!-- /.c-txt -->
        </div>
        <!-- /.p-top-greeting-content -->
      </div>
      <div class="p-movie-wrapper">
        <h3 class="p-movie__ttl c-en">CONCEPT MOVIE</h3>
        <div class="p-movie-content">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/HB4QrJyWqEw"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>

        </div>
        <!-- /.p-movie-content -->
      </div>
      <!-- /.p-movie-wrapper -->
    </div>
    <!-- /.l-content__inner -->
  </section>
  <!-- /.p-top-greeting -->
  <section class="p-top-brand c-shadow">
    <div class="l-content__inner">
      <div class="p-top-brand-content">
        <h2 class="p-section__ttl">
          <span class="c-txtshadow">
            <span class="c-jp">『幻の牛』</span>伊江牛</span>
          <span class="c-en">OUR BRAND</span>
        </h2>
        <!-- /.p-section__ttl -->
        <div class="p-txt-link-wrapper">
          <p class="c-txt">
            伊江牛とは、弊社が肥育、加工、販売する黒毛和牛です。ミネラル豊富な土壌で豊かな自然の伊江島で丹精込めて育てられた仔牛たちは日本各地に出荷され、各地の有名ブランド牛になります。そのため伊江島で育つ伊江牛はごくわずかで、「幻の牛」とも呼ばれるほど希少価値の高いブランド牛です。
          </p>
          <!-- /.c-txt -->
          <div class="p-link-wrapper">
            <a href="/pages/brand" class="c-link c-linkcolor--1">
              <span>伊江牛ブランドを知る</span>
              <svg viewBox="0 0 81 52" class="p-icn-link">
                <use xlink:href="#c-icn-link"></use>
              </svg>
            </a>
          </div>
          <!-- /.p-link-wrapper -->
        </div>
        <!-- /.p-txt-link-wrapper -->
      </div>
      <!-- /.p-top-brand-content -->
    </div>
    <!-- /.l-content__inner -->
  </section>
  <!-- /.p-top-brand -->
  <section class="p-top-quarity c-shadow">
    <div class="l-content__inner">
      <div class="p-top-quarity-content">
        <h2 class="p-section__ttl">
          <span class="c-en">QUALITY</span>
          <span class="c-txtshadow">一流の加工技術</span>
        </h2>
        <div class="p-txt-link-wrapper">
          <p class="c-txt">
            お肉は同じ部位でも切り方、加工技術によって柔らかさや味わいに違いが出ます。また、一般的に子供を産んだ牛（経産牛）は肉質が良くないとされていますが、再肥育を行い(株)伊江牛独自の技術で解体・熟成させる事によって牛肉本来の潜在能力をより高め、高品質の肉質の商品へ仕上げています。
          </p>
          <!-- /.c-txt -->
          <div class="p-link-wrapper">
            <a href="/pages/quality" class="c-link c-linkcolor--1">
              <span>精肉と加工技術を見る</span>
              <svg viewBox="0 0 81 52" class="p-icn-link">
                <use xlink:href="#c-icn-link"></use>
              </svg>
            </a>
          </div>
          <!-- /.p-link-wrapper -->
        </div>
        <!-- /.p-txt-link-wrapper -->

      </div>
      <!-- /.p-top-quarity-content -->
    </div>
    <!-- /.l-content__inner -->
  </section>
  <!-- /.p-top-quarity -->
  <section class="p-top-product">
    <div class="l-content__inner">
      <div class="p-top-product-content c-txtcolor--white p-cards--row c-shadow">
        <h2 class="p-section__ttl c-shuei">商品一覧<span class="c-en c-fontsize--middle">LINE UP</span>
        </h2>
        <div class="p-txt-wrapper">
          <p class="c-txt">
            自社独自のブランド黒毛和牛である伊江牛を生産から販売まで一貫して行っており、その上質なお肉を格安で提供しております。その他、九州産の国産黒毛和牛、沖縄県産豚肉、自社独自の製法で作ったハムやソーセージなどの加工肉も販売しております。
          </p>
          <div class="p-link-wrapper">
            <a href="/collections/all" class="c-link c-linkcolor--1">
              <span>商品一覧を見る</span>
              <svg viewBox="0 0 81 52" class="p-icn-link">
                <use xlink:href="#c-icn-link"></use>
              </svg>
            </a>
          </div>
          <!-- /.p-link-wrapper -->
        </div>
        <!-- /.p-txt-wrapper -->
      </div>
      <!-- /.p-top-product-content -->
    </div>
    <!-- /.l-content__inner -->
  </section>
  <!-- /.p-top-product -->
  <section class="p-top-about">
    <div class="l-content__inner">
      <div class="p-top-about-content">
        <div class="p-txt-wrapper">
          <h2 class="p-section__ttl c-shuei">私たちについて<span class="c-en">ABOUT US</span>
          </h2>
          <div class="p-img-wrapper">
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_sp-about.png?v=1681795967" media="(max-width: 767.98px)">
              <img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_about.png?v=1681795968" alt="">
            </picture>
          </div>
          <!-- /.p-img-wrapper -->
          <p class="c-txt">
            農業生産法人株式会社伊江牛は伊江島のミネラルが豊富で良質な牧草と独自の技術で育てた国産黒毛和牛を、生産から販売まで一貫して行っています。<br class="u-pc">1頭1頭丹精込め育て、独自技術と徹底した品質管理、流通コストの削減により、高品質の国産黒毛和牛をリーズナブルな価格でご提供しております。
          </p>
          <div class="p-link-wrapper">
            <a href="/pages/about" class="c-link c-linkcolor--2">
              <span>私たちについて知る</span>
              <svg viewBox="0 0 81 52" class="p-icn-link">
                <use xlink:href="#c-icn-link"></use>
              </svg>
            </a>
          </div>
          <!-- /.p-link-wrapper -->

        </div>
        <!-- /.p-txt-wrapper -->
      </div>
      <!-- /.p-top-about-content -->
    </div>
    <!-- /.l-content__inner -->
  </section>
  <!-- /.p-top-about -->
  <section class="p-top-news">
    <div class="l-content__inner">
      <h2 class="p-section__ttl u-align--center c-shuei">お知らせ<span class="c-en">NEWS</span>
      </h2>
      <ul class="p-cards p-col--4 p-sp-col--2">
        {% for article in blogs['news'].articles limit: 4 %}
          <li class="p-card">
            <a href="{{ article.url }}">
              <figure class="p-card__img-wrapper">
                <img src="{{ article.image.src | img_url: 'master' }}" alt="">
              </figure>
              <div class="p-card__body">
                <time datetime="2022-12-25">{{ article.created_at | date: '%Y年%m月%d日' }}</time>
                <h3 class="p-card__ttl">{{ article.title }}</h3>
              </div>
            </a>
          </li>
          <!-- /.p-card -->
        {% endfor %}
      </ul>
      <!-- /.p-cards -->
      <div class="p-link-wrapper p-pos--center">
        <a href="/blogs/news" class="c-link c-linkcolor--2">
          <span>一覧を見る</span>
          <svg viewBox="0 0 81 52" class="p-icn-link">
            <use xlink:href="#c-icn-link"></use>
          </svg>
        </a>
      </div>
      <!-- /.p-link-wrapper -->
    </div>
    <!-- /.l-content__inner -->
  </section>
  <!-- /.p-top-news -->
  <section class="p-top-gift">
    <div class="l-content__inner">
      <div class="p-top-gift-content p-cards--row p-cardspat--1 c-txtcolor--white">
        <h2 class="p-section__ttl c-shuei">ギフトにおすすめ<span class="c-en c-fontsize--middle">ONLINE STORE</span>
        </h2>
        <div class="p-txt-wrapper">
          <p class="c-txt c-txtshadow">『幻の牛』伊江牛をはじめ、上ランクのお肉を<br class="u-pc">お手頃な価格でご提供。<br>
            石垣牛、宮古牛と並ぶ沖縄を代表するブランド牛、<br class="u-pc">伊江牛を大切なあの人へ。</p>
          <!-- /.c-txt -->
          <div class="p-link-wrapper">
            <a href="/pages/online" class="c-link c-linkcolor--1">オンラインストアへ<svg viewBox="0 0 81 52" class="p-icn-link">
                <use xlink:href="#c-icn-link"></use>
              </svg>
            </a>
          </div>
          <!-- /.p-link-wrapper -->
        </div>
        <!-- /.p-txt-wrapper -->
      </div>
      <!-- /.p-top-gift-content -->
    </div>
    <!-- /.l-content__inner -->
  </section>
  <!-- /.p-top-gift -->
  <section class="p-top-shop">
    <div class="l-content__inner">
      <div class="p-top-shop-content p-cards--row p-cardspat--1 c-txtcolor--white">
        <h2 class="p-section__ttl c-shuei">直売店と販売店<span class="c-en c-fontsize--middle">SHOP</span>
        </h2>
        <div class="p-txt-wrapper">
          <p class="c-txt c-txtshadow">生産から販売・調理まで自社で一貫して行うことで<br class="u-pc">流通コストを抑えることで、<br class="u-pc">高品質の高級肉をお手頃な価格でお求めいただけます。<br class="u-pc">美味しい肉を食べるなら直営店へ！</p>
          <!-- /.c-txt -->
          <div class="p-link-wrapper">
            <a href="/pages/shop" class="c-link c-linkcolor--1">店舗一覧へ<svg viewBox="0 0 81 52" class="p-icn-link">
                <use xlink:href="#c-icn-link"></use>
              </svg>
            </a>
          </div>
          <!-- /.p-link-wrapper -->
        </div>
      </div>
      <!-- /.p-top-shop-content -->
    </div>
    <!-- /.l-content__inner -->
  </section>
  <!-- /.p-top-shop -->
  <section class="p-bottom-inquiry">
    <div class="l-content__inner">
      <h2 class="p-section__ttl u-align--center c-shuei">お問い合わせ<span class="c-en">CONTACT</span>
      </h2>
      <!-- /.c-section__ttl -->
      <div class="p-bottom-inquiry-content">
        <a href="tel:0989922929" class="p-bottom-inquiry__block p-tel">
          <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/icn_tel.svg?v=1681795966" alt=""></i>
          <div>
            <p class="c-en c-ttl">TEL</p>
            <p class="c-tel-num">098-992-2929</p>
            <p class="c-hour">（受付時間 9:00〜20:00）</p>
          </div>

        </a>
        <!-- /.p-bottom-inquiry__tel -->
        <a href="/pages/contact" class="p-bottom-inquiry__block p-form">
          <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/icn_mail.svg?v=1681795966" alt=""></i>
          <div>
            <p class="c-txt">お問い合わせフォーム</p>
          </div>
        </a>
        <!-- /.p-bottom-inquiry__form -->
      </div>
      <!-- /.p-bottom-inquiry-content -->
    </div>
    <!-- /.l-content__inner -->
  </section>
  <!-- /.p-bottom-inquiry -->
</div>


{% schema %}
  {
    "name": "bland_top",
    "presets": [
      {
        "name": "bland_top"
      }
    ]
  }
{% endschema %}