<main>
  <div class="l-bg-content">
    <div class="p-recruit">
      <a href="/pages/online" class="p-fix-bnr">
        <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/icn_cart.svg?v=1681795967" alt=""></i>
        <div class="p-txt-wrapper">
          <p class="c-txt">オンラインストアはこちら</p>
          <p class="c-en">ONLINE STORE</p>
        </div>
      </a>
      <!-- /.p-fix-bnr -->
      <div class="p-mv bland_under_mv">
        <h1 class="p-content__ttl c-shuei bland_under_ttl">採用情報<span class="c-en">RECRUIT INFO</span>
        </h1>
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/mv_recruit_sp.jpg?v=1681791650" media="(max-width: 767.98px)">
          <img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/mv_recruit.jpg?v=1681791651" alt="">
        </picture>
      </div>
      <!-- /.p-mv -->
      <section class="p-recruit-iegyu">
        <div class="l-content__inner">
          <div class="p-recruit-content">
            <div class="head_text">
              <p>現在以下の職種を募集しております。<br class="u-sp">詳しくはお電話でお問い合わせください。</p>
            </div>
            <div class="p-recruit-box">
              <p>事務職（契約社員）</p>
              <p>
                業務内容：一般事務<br>
                勤務時間：9時ー18時<br>
                休日：週休２日制（シフト制）
              </p>
            </div>
            <div class="p-recruit-box">
              <p>総合職（契約社員）</p>
              <p>
                業務内容：畜産・食肉加工・販売（精肉店舗および飲食店舗）<br>
                勤務時間：８時-17時 9時-18時 10時-19時 のいずれか<br>
                休日：週休2日制（シフト制）
              </p>
            </div>
            <div class="p-recruit-box">
              <p>お問合せ先</p>
              <p>電話番号：098-992-2929 <br class="u-sp">(受付時間 10:00〜19:00)</p>
            </div>
          </div>
        </div>
        <!-- /.l-content__inner -->
      </section>
      <!-- /.p-whats-iegyu -->

      <section class=" p-bottom-inquiry">
        <div class="l-content__inner">
          <h2 class="p-section__ttl u-align--center c-shuei">お問い合わせ<span class="c-en">CONTACT</span>
          </h2>
          <!-- /.c-section__ttl -->
          <div class="p-bottom-inquiry-content">
            <a href="tel:0989922929" class="p-bottom-inquiry__block p-tel">
              <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/icn_tel.svg?v=1681795966" alt=""></i>
              <div>
                <p class="c-en c-ttl">TEL</p>
                <p class="c-tel-num">098-992-2929</p>
                <p class="c-hour">（受付時間 9:00〜20:00）</p>
              </div>

            </a>
            <!-- /.p-bottom-inquiry__tel -->
            <a href="/pages/contact" class="p-bottom-inquiry__block p-form">
              <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/icn_mail.svg?v=1681795966" alt=""></i>
              <div>
                <p class="c-txt">お問い合わせフォーム</p>
              </div>
            </a>
            <!-- /.p-bottom-inquiry__form -->
          </div>
          <!-- /.p-bottom-inquiry-content -->
        </div>
        <!-- /.l-content__inner -->
      </section>
      <!-- /.p-bottom-inquiry -->
    </div>
    <!-- /.p-shop -->
  </div>
</main>