<div class="l-bg-content">
  <div class="p-mv">
    <div class="p-mv__txt-wrapper">
      <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/online_icn_logo_w.png?v=1681797669" alt=""></i>
      <h1 class="p-content__ttl">特定商取引法</h1>
    </div>
    <!-- /.p-mv__txt-wrapper -->
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/mv_item_sp.jpg?v=1681792008" media="(max-width: 767.98px)">
      <img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/mv_item.jpg?v=1681792008" alt="">
    </picture>
  </div>
  <!-- /.p-mv -->
  <div class="p-breadcrumb">
    <div class="l-content__inner">
      <ol
        class="p-breadcrumb__list"
        itemscope
        itemtype="https://schema.org/BreadcrumbList">
        <li
          class="p-breadcrumb__item"
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/online_icn_home.svg?v=1681797668" alt="HOME"></span>
          </a>
          <meta itemprop="position" content="1" />
        </li>
        <li
          class="p-breadcrumb__item"
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem">
          <span itemprop="name">特定商取引法</span>
          <meta itemprop="position" content="2" />
        </li>
      </ol>
    </div>
    <!-- /.l-content__inner -->
  </div>
  <!-- /.p-breadcrumb -->
</div>
<!-- /.l-bg-content -->
<div class="p-transaction-content">
  <div class="l-content__inner">
    <h2>特定商取引法に基づく表記</h2>
    <table>
      <tr>
        <th>会社名</th>
        <td>農業生産法人株式会社伊江牛</td>
      </tr>
      <tr>
        <th>事業者の<br class="u-sp">名称</th>
        <td>名嘉亜依子</td>
      </tr>
      <tr>
        <th>事業者の<br class="u-sp">所在地</th>
        <td>
          〒901-0361<br>
          沖縄県糸満市字糸満１５７３番地の２　あきらやーＣー３
        </td>
      </tr>
      <tr>
        <th>事業者の<br class="u-sp">連絡先</th>
        <td>098-992-2929</td>
      </tr>
      <tr>
        <th>
          営業時間・<br>
          ショップ情報など
        </th>
        <td>
          営業時間：　10：00～19：00（料理LO.18：30）<br>
          定休日：　年中無休
        </td>
      </tr>
      <tr>
        <th>販売価格</th>
        <td>販売価格は、表示された金額（表示価格/消費税込）と致します。</td>
      </tr>
      <tr>
        <th>
          代金の支払方法・<br>
          時期
        </th>
        <td>支払方法：クレジットカードによる決済がご利用頂けます。支払時期：商品注文確定時でお支払いが確定致します。</td>
      </tr>
      <tr>
        <th>商品のお届け時期</th>
        <td>配送のご依頼を受けてから10日以内に発送いたします。</td>
      </tr>
      <tr>
        <th>返品に<br class="u-sp">ついて</th>
        <td>商品に欠陥がある場合を除き、基本的には返品には応じません。</td>
      </tr>
    </table>
  </div>
</div>
<!-- / .p-transaction-content -->
<div class="l-bg-bottom">
  <section class="p-checked">
    <div class="l-content__inner">
      <h2 class="p-section__ttl u-align--center ">チェックした商品
        <span class="c-en">CHECKED</span>
      </h2>
      <ul class="p-checked__list">
        <li class="p-checked__item">
          <a href="item.html">
            <div class="p-checked__content">
              <div class="p-img-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/online_img_item_dummy.jpg?v=1681797669" alt="黒毛和牛赤身切り落とし1kg">
              </div>
              <div class="p-item__body">
                <h3 class="c-ttl">黒毛和牛赤身切り落とし1kg</h3>
                <p class="c-txt">¥2,376</p>
                <!-- /.c-price -->
              </div>
              <!-- /.p-item__body -->
            </div>
          </a>
        </li>
        <!-- /.p-checked__item -->
        <li class="p-checked__item">
          <a href="item.html">
            <div class="p-checked__content">
              <div class="p-img-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/online_img_item_dummy.jpg?v=1681797669" alt="黒毛和牛赤身切り落とし1kg">
              </div>
              <div class="p-item__body">
                <h3 class="c-ttl">黒毛和牛赤身切り落とし1kg</h3>
                <p class="c-txt">¥2,376</p>
                <!-- /.c-price -->
              </div>
              <!-- /.p-item__body -->
            </div>
          </a>
        </li>
        <!-- /.p-checked__item -->
        <li class="p-checked__item">
          <a href="item.html">
            <div class="p-checked__content">
              <div class="p-img-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/online_img_item_dummy.jpg?v=1681797669" alt="黒毛和牛赤身切り落とし1kg">
              </div>
              <div class="p-item__body">
                <h3 class="c-ttl">黒毛和牛赤身切り落とし1kg</h3>
                <p class="c-txt">¥2,376</p>
                <!-- /.c-price -->
              </div>
              <!-- /.p-item__body -->
            </div>
          </a>
        </li>
        <!-- /.p-checked__item -->
        <li class="p-checked__item">
          <a href="item.html">
            <div class="p-checked__content">
              <div class="p-img-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/online_img_item_dummy.jpg?v=1681797669" alt="黒毛和牛赤身切り落とし1kg">
              </div>
              <div class="p-item__body">
                <h3 class="c-ttl">黒毛和牛赤身切り落とし1kg</h3>
                <p class="c-txt">¥2,376</p>
                <!-- /.c-price -->
              </div>
              <!-- /.p-item__body -->
            </div>
          </a>
        </li>
        <!-- /.p-checked__item -->
        <li class="p-checked__item">
          <a href="item.html">
            <div class="p-checked__content">
              <div class="p-img-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/online_img_item_dummy.jpg?v=1681797669" alt="黒毛和牛赤身切り落とし1kg">
              </div>
              <div class="p-item__body">
                <h3 class="c-ttl">黒毛和牛赤身切り落とし1kg</h3>
                <p class="c-txt">¥2,376</p>
                <!-- /.c-price -->
              </div>
              <!-- /.p-item__body -->
            </div>
          </a>
        </li>
        <!-- /.p-checked__item -->
      </ul>
      <!-- /.p-checked__list -->
    </div>
    <!-- /.l-content__inner -->
    <div class="l-content__fake"></div>
    <!-- /.l-content__fake -->
  </section>
  <section class="p-bottom-inquiry">
    <div class="l-content__inner">
      <h2 class="p-section__ttl u-align--center c-shuei">お問い合わせ<span class="c-en">CONTACT</span>
      </h2>
      <!-- /.c-section__ttl -->
      <div class="p-bottom-inquiry-content">
        <a href="tel:0989922929" class="p-bottom-inquiry__block p-tel">
          <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/online_icn_tel.svg?v=1681797668" alt=""></i>
          <div>
            <p class="c-en c-ttl">TEL</p>
            <p class="c-tel-num">098-992-2929</p>
            <p class="c-hour">（受付時間 9:00〜20:00）</p>
          </div>

        </a>
        <!-- /.p-bottom-inquiry__tel -->
        <a href="/pages/contact" class="p-bottom-inquiry__block p-form">
          <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/online_icn_mail.svg?v=1681797669" alt=""></i>
          <div>
            <p class="c-txt">お問い合わせフォーム</p>
          </div>
        </a>
        <!-- /.p-bottom-inquiry__form -->
      </div>
      <!-- /.p-bottom-inquiry-content -->
    </div>
    <!-- /.l-content__inner -->
  </section>
  <!-- /.p-bottom-inquiry -->
</div>
<!-- /.l-bg-bottom -->