<main>
  <div class="l-bg-content">
    <div class="p-brand">
      <a href="/pages/online" class="p-fix-bnr">
        <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/icn_cart.svg?v=1681795967" alt=""></i>
        <div class="p-txt-wrapper">
          <p class="c-txt">オンラインストアはこちら</p>
          <p class="c-en">ONLINE STORE</p>
        </div>
      </a>
      <!-- /.p-fix-bnr -->
      <div class="p-mv bland_under_mv">
        <h1 class="p-content__ttl c-shuei bland_under_ttl">精肉と加工技術<span class="c-en">QUALITY</span>
        </h1>
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/mv_quality_sp.jpg?v=1681791650" media="(max-width: 767.98px)">
          <img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/mv_quality.jpg?v=1681791651" alt="">
        </picture>
      </div>
      <!-- /.p-mv -->
      <section class="p-whats-iegyu">
        <div class="l-content__inner">
          <div class="p-whats-iegyu-content">
            <div class="p-ttl-wrapper">
              <h2 class="p-sectiont__ttl c-shuei">
                <span class="c-ajust">一流の加工技術</span>
                <span class="c-en">OUR COMMITMENT</span>
              </h2>
            </div>
            <p class="c-txt u-pc-align--center">弊社独自の解体・熟成・加工技術を持った職人たちが丁寧に商品に仕上げています。牛を育て、加工まで担う肉の<br class="u-pc">
              プロフェッショナル達がより高品質な製品を作っています。工場はＨＡＣＣＡＰに準じた衛生管理を行っており、<br>
              昔ながらの手間暇かけた製造方法にこだわって沖縄県産豚を使用したハム、ウインナーも製造しています。
            </p>
            <div class="p-img-wrapper">
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_sp-quality01.png?v=1681795968" media="(max-width: 767.98px)">
                <img
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_quality01.png?v=1681795968"
                  alt=""
                  class="c-img-shadow">
              </picture>
            </div>
            <!-- /.p-img-wrapper -->
          </div>
          <!-- /.p-whats-iegyu-content -->
        </div>
        <!-- /.l-content__inner -->
      </section>
      <!-- /.p-whats-iegyu -->
      <section class="p-about-iegyu">
        <div class="p-brand-block">
          <div class="l-content__inner">
            <div class="p-media-grid">
              <h3 class="p-media__ttl">プロの目利き</h3>
              <div class="p-media__img-wrapper">
                <img
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_quality02.png?v=1681795968"
                  alt=""
                  class="c-img-shadow">
              </div>
              <p class="c-txt">
                最高品質のお肉には、鮮度と品質を見抜くプロの「目利き」が重要です。伊江牛は、自社で畜産をしているため、目利きには自信があります。さらに、全国各地の優れた畜産家や食品業者とのネットワークがあるため、厳しい基準をクリアしたお肉だけを選んでいます。<br>
                品質に妥協することなく、より良いものをより手軽にお届けしています。
              </p>
            </div>
            <!-- /.p-media -->
          </div>
          <div class="p-brand-bottom-img">
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_sp-quality04.jpg?v=1685603307" media="(max-width: 767.98px)">
              <img
                src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_quality04.jpg?v=1685603882"
                alt=""
                class="c-img-shadow">
            </picture>
          </div>
          <!-- /.p-brand-bottom-img -->
        </div>
        <div class="p-brand-block">
          <div class="l-content__inner">
            <div class="p-media-grid">
              <h3 class="p-media__ttl">こだわりの熟成</h3>
              <div class="p-media__img-wrapper">
                <img
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_quality06.png?v=1685602709"
                  alt=""
                  class="c-img-shadow">
              </div>
              <p class="c-txt">
                お肉には、すぐに切るべきものと、寝かせる（熟成させる）ことでより美味しくなるものがあります。<br>
                私たちの目利きと経験により、どのお肉が熟成させた方が最も美味しくなるのかを見極め、適切な期間と環境で熟成させています。熟成の時間と温度管理には細心の注意を払い、お客様に口溶けの良さと豊かな旨みをお届けします。
              </p>
            </div>
            <!-- /.p-media -->
          </div>
          <div class="p-brand-bottom-img">
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_sp-quality05.jpg?v=1685603307" media="(max-width: 767.98px)">
              <img
                src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_quality05.jpg?v=1685603882"
                alt=""
                class="c-img-shadow">
            </picture>
          </div>
          <!-- /.p-brand-bottom-img -->
        </div>
        <div class="p-brand-block">
          <div class="l-content__inner">
            <div class="p-media-grid">
              <h3 class="p-media__ttl">熟練の加工技術</h3>
              <div class="p-media__img-wrapper">
                <img
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_quality07.png?v=1685602709"
                  alt=""
                  class="c-img-shadow">
              </div>
              <p class="c-txt">
                お肉の味わいは、包丁の入れ方一つで大きく変わります。<br>
                私たちの肉の加工技術は、お肉の美味しさを最大限に引き出すために重要な要素です。包丁の入れ方一つで、お肉の旨味や柔らかさが一段と際立ちます。品質に対する厳しい基準と専門知識に基づき、お客様に最高品質の肉をお届けいたします。
              </p>
            </div>
            <!-- /.p-media -->
          </div>
          <div class="p-brand-bottom-img">
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_sp-quality03.jpg?v=1681795967" media="(max-width: 767.98px)">
              <img
                src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_quality03.jpg?v=1685603882"
                alt=""
                class="c-img-shadow">
            </picture>
          </div>
          <!-- /.p-brand-bottom-img -->
        </div>
      </section>
      <!-- /.p-about-iegyu -->
      <section class=" p-bottom-inquiry">
        <div class="l-content__inner">
          <h2 class="p-section__ttl u-align--center c-shuei">お問い合わせ<span class="c-en">CONTACT</span>
          </h2>
          <!-- /.c-section__ttl -->
          <div class="p-bottom-inquiry-content">
            <a href="tel:0989922929" class="p-bottom-inquiry__block p-tel">
              <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/icn_tel.svg?v=1681795966" alt=""></i>
              <div>
                <p class="c-en c-ttl">TEL</p>
                <p class="c-tel-num">098-992-2929</p>
                <p class="c-hour">（受付時間 9:00〜20:00）</p>
              </div>

            </a>
            <!-- /.p-bottom-inquiry__tel -->
            <a href="/pages/contact" class="p-bottom-inquiry__block p-form">
              <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/icn_mail.svg?v=1681795966" alt=""></i>
              <div>
                <p class="c-txt">お問い合わせフォーム</p>
              </div>
            </a>
            <!-- /.p-bottom-inquiry__form -->
          </div>
          <!-- /.p-bottom-inquiry-content -->
        </div>
        <!-- /.l-content__inner -->
      </section>
      <!-- /.p-bottom-inquiry -->
    </div>
    <!-- /.p-about -->
  </div>
</main>