<main>
  <div class="l-bg-content">
    <div class="p-about">
      <a href="/pages/online" class="p-fix-bnr">
        <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/icn_cart.svg?v=1681795967" alt=""></i>
        <div class="p-txt-wrapper">
          <p class="c-txt">オンラインストアはこちら</p>
          <p class="c-en">ONLINE STORE</p>
        </div>
      </a>
      <!-- /.p-fix-bnr -->
      <div class="p-mv bland_under_mv">
        <h1 class="p-content__ttl c-shuei bland_under_ttl">私たちについて<span class="c-en">ABOUT US</span>
        </h1>
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/mv_about_sp.jpg?v=1681791650" media="(max-width: 767.98px)">
          <img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/mv_about.jpg?v=1681791651" alt="">
        </picture>
      </div>
      <!-- /.p-mv -->
      <section class="p-about-greeting">
        <div class="l-content__inner">
          <h2 class="p-section__ttl c-size--middle">子どもたちにもっと<br class="u-sp">国産の牛肉を食べて欲しい…<br>
            そして過疎化が進む<br class="u-sp">この島に産業を</h2>
          <p class="c-txt">丹精込めて育てた牛は、自分たちの食卓にはなかなか並んでいない…。<br>
            もっと身近に国産の牛肉を感じて欲しい。もっと子どもたちに食べて欲しい。</p>

          <p class="c-txt">そんな気持ちから2012年、自然豊かな伊江島の更なる活性化に繋がる事業として<br class="u-pc">弊社を立ち上げ8年余、ご愛顧いただきました皆様のお力添えで今日を迎える事ができ、<br class="u-pc">そして未来に向かうことができる事に日々感謝をしております。</p>

          <p class="c-txt">畜産という命の現場から始まり現在一歩ずつではございますが、<br class="u-pc">全従業員と共に加工技術を磨き販売路を開拓し飲食店舗を構えるまで成長してまいりました。</p>

          <p class="c-txt">安心安全を第一にお肉をご提供させていただき、<br class="u-pc">一人でも多くの方に伊江牛の美味しさを知ってほしい、<br class="u-pc">そんな想いを胸に秘め、命を頂くことに感謝をしながらお肉と向き合い、<br class="u-pc">そして笑顔溢れる食卓を思い浮かべ、お客様と向き合っております。</p>

          <p class="c-txt">また弊社では繁殖牛の出産時期や経過を適切に見極め、<br class="u-pc">肥育牛を生育へと移行するシステムを取り入れる事により、<br class="u-pc">上ランクの肉質でありながら安価での販売が可能となっておりますので<br class="u-pc">是非ご賞味いただけたらと存じます。</p>

          <p class="c-txt">さらに全従業員にて切磋琢磨し成長して行くことがご愛顧くださる<br class="u-pc">皆様への「恩返し」だと存じます。<br>
            これからもどうぞ伊江牛を宜しくお願いいたします。</p>
          <p class="c-name">農業生産法人株式会社伊江牛 <br class="u-sp">代表取締役　名嘉 亜依子</p>
        </div>
        <!-- /.l-content__inner -->
      </section>
      <!-- /.p-about-greeting -->
      <section class="p-commitment">
        <div class="l-content__inner">
          <h2 class="p-section__ttl u-pc-align--center">独自の技術で良質な牛肉を生産から販売まで
            <span class="c-en">OUR COMMITMENT
            </span>
          </h2>
          <p class="c-txt u-pc-align--center">農業生産法人株式会社伊江牛は伊江島のミネラルが豊富で良質な牧草と独自の技術で<br class="u-pc">育てた国産黒毛和牛を、生産から販売まで一貫して行っています。<br>
            1頭1頭丹精込め育て、独自技術と徹底した品質管理、流通コストの削減により、<br class="u-pc">高品質の国産黒毛和牛をリーズナブルな価格でご提供しております。</p>
          <!-- /.c-txt -->
          <nav class="p-page-nav">
            <ul class="p-page__nav-list">
              <li class="p-page__nav-item">
                <a href="#chikusan" class="p-page__nav-link">
                  <span class="p-txt-wrapper">
                    <span class="c-en">01</span>
                    <span class="c-jp">畜産</span>
                  </span>
                </a>
              </li>
              <li class="p-page__nav-item">
                <a href="#kakou" class="p-page__nav-link">
                  <span class="p-txt-wrapper">
                    <span class="c-en">02</span>
                    <span class="c-jp">加工</span>
                  </span>
                </a>
              </li>
              <li class="p-page__nav-item">
                <a href="#hanbai" class="p-page__nav-link">
                  <span class="p-txt-wrapper">
                    <span class="c-en">03</span>
                    <span class="c-jp">販売</span>
                  </span>
                </a>
              </li>
              <li class="p-page__nav-item">
                <a href="#insyokuten" class="p-page__nav-link">
                  <span class="p-txt-wrapper">
                    <span class="c-en">04</span>
                    <span class="c-jp">飲食店</span>
                  </span>
                </a>
              </li>
            </ul>
            <!-- /.p-page__nav-list -->
          </nav>
        </div>
        <!-- /.l-content__inner -->
        <div class="p-commitment-content" id="chikusan">
          <div class="l-content__inner">
            <div class="p-commitment-block">
              <!-- /.p-img-wrapper -->
              <div class="p-num">
                <span class="c-en"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/num01.svg?v=1681795966" alt="01"></span>
                <span class="c-jp">畜産</span>
              </div>
              <!-- /.p-num -->
              <h3 class="p-commitment__ttl">牛にとって良い環境で</h3>
              <div class="p-img-wrapper">
                <picture>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_commitment01_01.png?v=1681795967"
                    alt=""
                    class="c-img-shadow">
                </picture>
              </div>
              <div class="p-txt-wrapper">
                <p class="c-txt">
                  牛は大きな体でどっしりとしていますが、意外にもストレスに弱い繊細な生き物です。外部環境の変化等の影響で病気になってしまう牛もいます。人間と同じ様に牛1頭1頭それぞれに性格や相性もあり、その牛にとってのストレスの少ない状態を維持していく事が大きな仕事の一つです。
                </p>

                <p class="c-txt">
                  高品質な牛を生産する上では血統が大切とされており、血統によって肉の品質の大部分が左右されると言われているのです。やみくもに種付けしていくのではなく、雌牛の血統との相性を考慮した上で種付けを行っています。伊江牛の子牛たちは、日本で有名なブランド牛の素牛（肥育牛や繁殖牛として飼養される前の生後6～12か月の子牛を指す）として出荷されていきます。
                </p>

                <p class="c-txt">
                  肥育の面で見ると、弊社牛舎では創業一族に伝わる肥育方法にのっとり、牛の肥育・出荷を行っています。１頭１頭トレーサビリティシステム（生産流通情報把握システム）に基づいて日々管理しており、その中で伊江島産のミネラル豊富な牧草やサトウキビを主とした㈱伊江牛独自の餌の配合を行い、子牛を産み終わった牛（経産牛）を再肥育し高い肉質へと育て上げているのです。
                </p>
                <div class="p-link-wrapper">
                  <a href="/pages/brand" class="c-link c-linkcolor--2">
                    <span>ブランド牛『伊江牛』をもっと知る</span>
                    <svg viewBox="0 0 81 52" class="p-icn-link">
                      <use xlink:href="#c-icn-link"></use>
                    </svg>
                  </a>
                </div>
                <!-- /.p-link-wrapper -->
              </div>
            </div>
            <!-- /.p-commitment-block -->

          </div>
          <!-- /.l-content__inner -->
          <div class="p-bottom-img">
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_sp-commitment01_02.png?v=1681795968" media="(max-width: 767.98px)">
              <img
                src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_commitment01_02.png?v=1681795969"
                alt=""
                class="c-img-shadow">
            </picture>
          </div>
          <!-- /.p-bottom-img -->
        </div>
        <!-- /.p-commitment-content -->
        <div class="p-commitment-content" id="kakou">
          <div class="l-content__inner">
            <div class="p-commitment-block p-reverse">
              <!-- /.p-img-wrapper -->
              <div class="p-num">
                <span class="c-en"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/num02.svg?v=1681795967" alt="02"></span>
                <span class="c-jp">加工</span>
              </div>
              <!-- /.p-num -->
              <h3 class="p-commitment__ttl">独自の技術と<br class="u-sp">衛生管理の徹底</h3>
              <div class="p-img-wrapper">
                <picture>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_commitment02_01.png?v=1681795968"
                    alt=""
                    class="c-img-shadow">
                </picture>
              </div>
              <div class="p-txt-wrapper">
                <p class="c-txt">
                  お肉は同じ部位でも切り方、加工技術によって柔らかさや味わいに違いが出ます。また、一般的に子供を産んだ牛（経産牛）は肉質が良くないとされていますが、再肥育を行い(株)伊江牛独自の技術で解体・熟成させる事によって牛肉本来の潜在能力をより高め、高品質の肉質の商品へ仕上げています。
                </p>

                <p class="c-txt">
                  沖縄県内では唯一生食製造に必要な認可を頂いており、店舗での飲食提供に加え、精肉販売と共に伊江牛ユッケの販売も行っています。牛・豚の加工に加え、県産豚を使用した加工品の製造も行っています。
                </p>

                <p class="c-txt">
                  大手のメーカーで経験を積み、世界各地の豚から行き着いたのが沖縄県産豚。こだわりの豚肉を昔ながらの製法で一品一品手作りで製造しており、インジェクション（加水処理）を行わず保存料等は使用しない事で大量生産では味わえない製品を日々生みだしています。
                </p>

                <p class="c-txt">
                  特に伊江島の島らっきょうを使用したミートローフやこだわったロースハム等はリピーターの多い一品です。自社工場内は衛生管理を徹底しており、味はもちろん品質にも自信があります。
                </p>
                <div class="p-link-wrapper">
                  <a href="/pages/quality" class="c-link c-linkcolor--2">
                    <span>加工技術をもっと知る</span>
                    <svg viewBox="0 0 81 52" class="p-icn-link">
                      <use xlink:href="#c-icn-link"></use>
                    </svg>
                  </a>
                </div>
                <!-- /.p-link-wrapper -->
              </div>
              <!-- /.p-txt-wrapper -->

            </div>
            <!-- /.p-commitment-block -->

          </div>
          <!-- /.l-content__inner -->
          <div class="p-bottom-img">
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_sp-commitment02_02.png?v=1681795968" media="(max-width: 767.98px)">
              <img
                src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_commitment02_02.png?v=1681795969"
                alt=""
                class="c-img-shadow">
            </picture>
          </div>
          <!-- /.p-bottom-img -->
        </div>
        <!-- /.p-commitment-content -->
        <div class="p-commitment-content" id="hanbai">
          <div class="l-content__inner">
            <div class="p-commitment-block">
              <!-- /.p-img-wrapper -->
              <div class="p-num">
                <span class="c-en"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/num03.svg?v=1681795966" alt="03"></span>
                <span class="c-jp">販売</span>
              </div>
              <!-- /.p-num -->
              <h3 class="p-commitment__ttl">地域の食卓を<br class="u-sp">支える存在に</h3>
              <div class="p-img-wrapper">
                <picture>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_commitment03_01.png?v=1681795968"
                    alt=""
                    class="c-img-shadow">
                </picture>
              </div>
              <div class="p-txt-wrapper">
                <p class="c-txt">
                  自社工場で加工した商品は実店舗で販売を行っています。グループ全体では沖縄県内5店舗で販売を行っており、地域の方々の食卓を支えております。伊江牛・黒毛和牛・沖縄県産豚・加工品を扱っており、また部位・量・ご予算に合わせたご注文も承っております。地域の方々への販売はもちろんの事、県内外の外食店様への卸も務めております。
                </p>
                <p class="c-txt">
                  生産から販売に至るまで余計なルートを省く事で、弊社でしか出せないお手軽な価格での提供につながっています。また毎月29日は精肉販売店で大好評の「肉の日セール」を開催。店舗限定で一部を除き牛肉を半額で提供しています。ステーキ用からすき焼き用等様々な商品を取りそろえています。ご自宅用から贈答用までお気軽にご相談下さい。
                </p>
                <div class="p-link-wrapper">
                  <a href="/pages/shop" class="c-link c-linkcolor--2">
                    <span>店舗一覧を見る</span>
                    <svg viewBox="0 0 81 52" class="p-icn-link">
                      <use xlink:href="#c-icn-link"></use>
                    </svg>
                  </a>
                </div>
                <!-- /.p-link-wrapper -->
              </div>
              <!-- /.p-txt-wrapper -->

            </div>
            <!-- /.p-commitment-block -->

          </div>
          <!-- /.l-content__inner -->
          <div class="p-bottom-img">
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_sp-commitment03_02.png?v=1681795968" media="(max-width: 767.98px)">
              <img
                src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_commitment03_02.png?v=1681795969"
                alt=""
                class="c-img-shadow">
            </picture>
          </div>
          <!-- /.p-bottom-img -->
        </div>
        <!-- /.p-commitment-content -->
        <div class="p-commitment-content" id="insyokuten">
          <div class="l-content__inner">
            <div class="p-commitment-block p-reverse">
              <div class="p-num">
                <span class="c-en"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/num04.svg?v=1681795967" alt="04"></span>
                <span class="c-jp">飲食店</span>
              </div>
              <!-- /.p-num -->
              <h3 class="p-commitment__ttl">美味しい肉を食べるなら直営店舗へ</h3>
              <div class="p-img-wrapper">
                <picture>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_commitment04_01.png?v=1681795968"
                    alt=""
                    class="c-img-shadow">
                </picture>
              </div>
              <!-- /.p-img-wrapper -->
              <div class="p-txt-wrapper">
                <p class="c-txt">
                  お手軽価格の定食販売店から、高級感あふれるステーキ店・焼肉店も運営しています。沖縄県内7店舗に加え東京に1店舗を構え、美味しいお肉を提供しています。糸満新社屋では定食メニューをはじめ、自社製造の伊江牛ユッケもご用意しております。美味しい牛肉を食べるなら㈱伊江牛直営店へお越しくださいませ！1番人気の定食は伊江牛牛汁定食！
                </p>
                <div class="p-link-wrapper">
                  <a href="/pages/shop" class="c-link c-linkcolor--2">
                    <span>店舗一覧を見る</span>
                    <svg viewBox="0 0 81 52" class="p-icn-link">
                      <use xlink:href="#c-icn-link"></use>
                    </svg>
                  </a>
                </div>
                <!-- /.p-link-wrapper -->
              </div>
              <!-- /.p-txt-wrapper -->

            </div>
            <!-- /.p-commitment-block -->

          </div>
          <!-- /.l-content__inner -->
          <div class="p-bottom-img">
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_sp-commitment04_02.png?v=1681795968" media="(max-width: 767.98px)">
              <img
                src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_commitment04_02.png?v=1681795969"
                alt=""
                class="c-img-shadow">
            </picture>
          </div>
          <!-- /.p-bottom-img -->
        </div>
        <!-- /.p-commitment-content -->
      </section>
      <!-- /.p-commitment -->
      <section class="p-for-iejima">
        <div class="l-content__inner">
          <h2 class="p-section__ttl u-align--center">地元伊江島の<br class="u-sp">活性化のために<span class="c-en">FOR
              IEJIMA</span>
          </h2>
          <div class="p-media">
            <div class="p-media__img-wrapper">
              <img
                src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_iejima01.png?v=1681795968"
                alt=""
                class="c-img-shadow">
            </div>
            <!-- /.p-media__img-wrapper -->
            <div class="p-media__txt-wrapper">
              <h3 class="p-media__ttl">沖縄県内外へのイベント出店</h3>
              <p class="c-txt">沖縄県内のイベント等に随時参加し、地域を盛り上げております。物販・飲食販売どちらでもお声かけ下さいませ。<br>
                （例：産業まつり・離島フェア・花と食のフェスティバル・はいさいフェスタ・伊江島マラソン等）</p>
              <!-- /.c-txt -->
            </div>
            <!-- /.p-media__txt-wrapper -->
          </div>
          <!-- /.p-media -->
          <div class="p-media p-reverse">
            <div class="p-media__img-wrapper">
              <img
                src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_iejima02.png?v=1681795967"
                alt=""
                class="c-img-shadow">
            </div>
            <!-- /.p-media__img-wrapper -->
            <div class="p-media__txt-wrapper">
              <h3 class="p-media__ttl">地域の子どもたちの育成</h3>
              <p class="c-txt">また弊社では地域学習支援にも賛同し、伊江村インターンシップ受け入れ等を行い地場企業として地域に貢献出来る様務めております。<br>
                （例：2019年伊江村型就業意識向上支援事業）</p>
              <!-- /.c-txt -->
            </div>
            <!-- /.p-media__txt-wrapper -->
          </div>
          <!-- /.p-media -->
        </div>
        <!-- /.l-content__inner -->
      </section>
      <!-- /.p-for-iejima -->
      <section class="p-company" id="company">
        <div class="l-content__inner">
          <h2 class="p-section__ttl u-align--center">会社概要<span class="c-en">COMPANY
              PROFILE</span>
          </h2>
          <div class="p-company-content">
            <div class="p-txt-wrapper">
              <dl class="p-company__detail">
                <div>
                  <dt>社名</dt>
                  <dd>農業生産法人株式会社伊江牛</dd>
                </div>
                <div>
                  <dt>代表者</dt>
                  <dd>代表取締役社長　名嘉　亜依子</dd>
                </div>
                <div>
                  <dt>設立</dt>
                  <dd>平成24年12月20日</dd>
                </div>
                <div>
                  <dt>資本金</dt>
                  <dd>7500万円</dd>
                </div>
                <div>
                  <dt>従業員数</dt>
                  <dd>15名</dd>
                </div>
                <div>
                  <dt>事業内容</dt>
                  <dd>畜産　加工　卸業　販売業 <br class="u-sp">飲食業</dd>
                </div>
                <div>
                  <dt>本社</dt>
                  <dd>〒905-0504<br>
                    沖縄県国頭郡伊江村字西江前<br class="u-sp">1898-1</dd>
                </div>
                <div>
                  <dt>工場</dt>
                  <dd>〒901-0361<br>
                    沖縄県糸満市糸満1573-2</dd>
                </div>
              </dl>
            </div>
            <!-- /.p-txt-wrapper -->
            <div class="p-img-wrapper">
              <div class="c-img">
                <picture>
                  <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_sp-company.png?v=1681795967" media="(max-width: 767.98px)">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_company.jpg?v=1681795967"
                    alt=""
                    class="c-img-shadow">
                </picture>
              </div>
            </div>
            <!-- /.p-img-wrapper -->
          </div>
          <!-- /.p-company-content -->

        </div>
        <!-- /.l-content__inner -->
      </section>
      <!-- /.p-company -->
      <section class="p-history">
        <div class="l-content__inner">
          <h2 class="p-section__ttl u-align--center">沿革<span class="c-en">HISTORY</span>
          </h2>
          <div class="p-history-content">
            <h3 class="p-history__ttl">農業生産法人株式会社伊江牛</h3>
            <dl class="p-history-detail">
              <div>
                <dt>平成24年</dt>
                <dd>農業生産法人株式会社伊江牛 <br class="u-sp">設立</dd>
              </div>
              <div>
                <dt>平成24年</dt>
                <dd>糸満直売店　開店</dd>
              </div>
              <div>
                <dt>平成25年</dt>
                <dd>自社ロゴ商標登録</dd>
              </div>
              <div>
                <dt>平成25年</dt>
                <dd>農林水産省6次産業認定</dd>
              </div>
              <div>
                <dt>平成25年</dt>
                <dd>内閣府沖縄総合事務局より<br class="u-sp">「伊江牛ハンバーグ」すぐりむん賞受賞</dd>
              </div>
              <div>
                <dt>平成25年</dt>
                <dd>内閣府沖縄総合事務局より<br class="u-sp">「伊江牛メンチカツ」かりゆし賞受賞</dd>
              </div>
              <div>
                <dt>平成26年</dt>
                <dd>若狭直営店</dd>
              </div>
              <div>
                <dt>平成28年</dt>
                <dd>焼肉昌健　開店</dd>
              </div>
              <div>
                <dt>平成30年</dt>
                <dd>焼肉福重　開店</dd>
              </div>
              <div>
                <dt>平成30年</dt>
                <dd>経済産業省はばたく中小企業<br class="u-sp">300選選定</dd>
              </div>
              <div>
                <dt>平成31年</dt>
                <dd>新社屋店開店に伴い本社加工場<br class="u-sp">建設</dd>
              </div>
              <div>
                <dt>平成31年</dt>
                <dd>たっちゅー工房製造開始</dd>
              </div>
            </dl>
            <!-- /.p-history-content -->
          </div>
          <!-- /.p-history-content -->
          <div class="p-history-content">
            <h3 class="p-history__ttl">農業生産法人株式会社NIKUYA</h3>
            <dl class="p-history-detail">
              <div>
                <dt>平成27年</dt>
                <dd>農業生産法人株式会社ＮＩＫＵＹＡ　設立</dd>
              </div>
              <div>
                <dt>平成29年</dt>
                <dd>にくや新都心店　開店</dd>
              </div>
              <div>
                <dt>平成29年</dt>
                <dd>にくや読谷店　開店</dd>
              </div>
              <div>
                <dt>令和元年</dt>
                <dd>ステーキ神庄　開店</dd>
              </div>
              <div>
                <dt>令和元年</dt>
                <dd>にくや精肉店・勝　開店</dd>
              </div>
            </dl>
            <!-- /.p-history-content -->
          </div>
          <!-- /.p-history-content -->
        </div>
        <!-- /.l-content__inner -->
      </section>
      <!-- /.p-history -->
      <section class="p-bottom-inquiry">
        <div class="l-content__inner">
          <h2 class="p-section__ttl u-align--center c-shuei">お問い合わせ<span class="c-en">CONTACT</span>
          </h2>
          <!-- /.c-section__ttl -->
          <div class="p-bottom-inquiry-content">
            <a href="tel:0989922929" class="p-bottom-inquiry__block p-tel">
              <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/icn_tel.svg?v=1681795966" alt=""></i>
              <div>
                <p class="c-en c-ttl">TEL</p>
                <p class="c-tel-num">098-992-2929</p>
                <p class="c-hour">（受付時間 9:00〜20:00）</p>
              </div>

            </a>
            <!-- /.p-bottom-inquiry__tel -->
            <a href="/pages/contact" class="p-bottom-inquiry__block p-form">
              <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/icn_mail.svg?v=1681795966" alt=""></i>
              <div>
                <p class="c-txt">お問い合わせフォーム</p>
              </div>
            </a>
            <!-- /.p-bottom-inquiry__form -->
          </div>
          <!-- /.p-bottom-inquiry-content -->
        </div>
        <!-- /.l-content__inner -->
      </section>
      <!-- /.p-bottom-inquiry -->
    </div>
    <!-- /.p-about -->
  </div>
</main>