<main>
  <div class="l-bg-content">
    <div class="p-shop">
      <a href="/pages/online" class="p-fix-bnr">
        <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/icn_cart.svg?v=1681795967" alt=""></i>
        <div class="p-txt-wrapper">
          <p class="c-txt">オンラインストアはこちら</p>
          <p class="c-en">ONLINE STORE</p>
        </div>
      </a>
      <!-- /.p-fix-bnr -->
      <div class="p-mv bland_under_mv">
        <h1 class="p-content__ttl c-shuei bland_under_ttl">店舗一覧<span class="c-en">SHOP</span>
        </h1>
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/mv_shop_sp.jpg?v=1681791650" media="(max-width: 767.98px)">
          <img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/mv_shop.jpg?v=1681791652" alt="">
        </picture>
      </div>
      <!-- /.p-mv -->
      <section class="p-whats-iegyu">
        <div class="l-content__inner">
          <div class="p-shop-iegyu-content">
            <div class="p-ttl-wrapper">
              <h2>伊江牛の直売店と販売店</h2>
            </div>
            <p>
              株式会社伊江牛でブランド肉伊江牛をはじめ、九州で育った国産黒毛和牛、沖縄県産豚、自社製造のハムやソーセージなどを、<br class="u-pc">
              生産から販売・調理まで自社で一貫して行うことで流通コストを抑えることで、<br class="u-pc">
              高品質の高級肉をお手頃な価格でお求めいただけます。美味しい肉を食べるなら直営店へ！
            </p>
            <p class="sp_block">
              伊江島の石灰地層から養分を吸収して育つ牧草やサトウキビは、他にはないほどにミネラルが豊富に含まれています。その様な栄養価の高い牧草を餌として与え、牛1頭1頭の体調や環境に気を配り、丹精込めて伊江牛は育てられています。出荷する牛は個体識別番号（トレーサビリティシステム）で安心安全に管理されています。
            </p>
          </div>
        </div>
        <!-- /.l-content__inner -->
      </section>
      <!-- /.p-whats-iegyu -->

      <section class="p-shoplist-iegyu">
        <div class="l-content__inner">
          <div class="shoplist_box">
            <div class="u-sp">
              <div class="shop-name">
                <h3>本社新社屋</h3>
                <div>
                  <p>販売店</p>
                  <p>飲食店</p>
                </div>
              </div>
            </div>
            <div class="rights">
              <div class="main_img" id="mainImg01">
                <img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img01-1.jpg?v=1681795967">
              </div>
              <ul id="subImg01">
                <li class="current c-img-shadow"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img01-1.jpg?v=1681795967"></li>
                <li><img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img01-2.jpg?v=1681795968"></li>
                <li><img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img01-3.jpg?v=1681795968"></li>
              </ul>
              <div class="main_img_bg"><img
                  class="c-img-shadow"
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img_bg.png?v=1681795968"
                  alt=""></div>
            </div>
            <div class="left">
              <div class="shop-name">
                <h3>本社新社屋</h3>
                <p>販売店</p>
                <p>飲食店</p>
              </div>
              <table>
                <tr>
                  <th>住所</th>
                  <td>〒901-0361<br>沖縄県糸満市糸満1573-2<a href="https://goo.gl/maps/NQTTbp7oYdUxuxWG6" target="_blank">（地図）</a>
                  </td>
                </tr>
                <tr>
                  <th>TEL/FAX</th>
                  <td>電話：098-992-2929<br>FAX：098-995-1129</td>
                </tr>
                <tr>
                  <th>SNS</th>
                  <td>
                    <a href="https://www.instagram.com/iegyuu" target="_blank">Instagram</a>
                  </td>
                </tr>
                <tr>
                  <th>営業時間</th>
                  <td>10:00～19:00（LO 18:30）</td>
                </tr>
                <tr>
                  <th>定休日</th>
                  <td>無休</td>
                </tr>
                <tr>
                  <th>お支払い</th>
                  <td>クレジット / Edy / PayPay</td>
                </tr>
                <tr>
                  <th>メニュー</th>
                  <td>【精肉】伊江牛、九州・沖縄産黒毛和牛、<br class="u-pc">沖縄県産豚、加工肉、など<br>【お食事】牛汁定食、ステーキ丼定食、<br class="u-pc">焼肉定食、焼肉丼定食、<br class="u-pc">サイコロステーキ定食、コロッケ、など</td>
                </tr>
              </table>
            </div>
          </div>
          <!-- /.shoplist_box  -->
          <div class="shoplist_box">
            <div class="u-sp">
              <div class="shop-name">
                <h3>西崎直売</h3>
                <div>
                  <p>販売店</p>
                  <p>飲食店</p>
                </div>
              </div>
            </div>
            <div class="rights">
              <div class="main_img" id="mainImg02">
                <img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img02-1.jpg?v=1681795968">
              </div>
              <ul id="subImg02">
                <li class="current c-img-shadow"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img02-1.jpg?v=1681795968"></li>
                <li><img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img02-2.jpg?v=1681795968"></li>
              </ul>
              <div class="main_img_bg"><img
                  class="c-img-shadow"
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img_bg.png?v=1681795968"
                  alt=""></div>
            </div>
            <div class="left">
              <div class="shop-name">
                <h3>西崎直売</h3>
                <p>販売店</p>
                <p>飲食店</p>
              </div>
              <table>
                <tr>
                  <th>住所</th>
                  <td>〒901-0361<br>沖縄県糸満市西崎2-35-5<a href="https://goo.gl/maps/THUfd4zkoAnq5hUv6" target="_blank">（地図）</a>
                  </td>
                </tr>
                <tr>
                  <th>TEL/FAX</th>
                  <td>電話：098-996-2929</td>
                </tr>
                <tr>
                  <th>営業時間</th>
                  <td>10:00～19:00（LO 18:30）</td>
                </tr>
                <tr>
                  <th>定休日</th>
                  <td>無休</td>
                </tr>
                <tr>
                  <th>お支払い</th>
                  <td>クレジット / Edy / PayPay</td>
                </tr>
                <tr>
                  <th>メニュー</th>
                  <td>【精肉】伊江牛、九州・沖縄産黒毛和牛、<br class="u-pc">沖縄県産豚、加工肉、など<br>【お食事】牛汁定食、ステーキ丼定食、<br class="u-pc">焼肉定食、焼肉丼定食、<br class="u-pc">サイコロステーキ定食、コロッケ、など</td>
                </tr>
              </table>
            </div>
          </div>
          <!-- /.shoplist_box  -->
          <div class="shoplist_box">
            <div class="u-sp">
              <div class="shop-name">
                <h3>晶健（休業中）</h3>
                <div>
                  <p>飲食店</p>
                </div>
              </div>
            </div>
            <div class="rights">
              <div class="main_img" id="mainImg03">
                <img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img03-1.jpg?v=1681795967">
              </div>
              <ul id="subImg03">
                <li class="current c-img-shadow"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img03-1.jpg?v=1681795967"></li>
              </ul>
              <div class="main_img_bg"><img
                  class="c-img-shadow"
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img_bg.png?v=1681795968"
                  alt=""></div>
            </div>
            <div class="left">
              <div class="shop-name">
                <h3>晶健（休業中）</h3>
                <p>飲食店</p>
              </div>
              <table>
                <tr>
                  <th>住所</th>
                  <td>〒901-0361<br>沖縄県糸満市糸満1271-1F<a href="https://goo.gl/maps/GwQagRjVqwGtcdYC9" target="_blank">（地図）</a>
                  </td>
                </tr>
                <tr>
                  <th>TEL/FAX</th>
                  <td>電話：098-997-0429</td>
                </tr>
                <tr>
                  <th>営業時間</th>
                  <td>10:00～23:00（LO）</td>
                </tr>
                <tr>
                  <th>定休日</th>
                  <td>無休</td>
                </tr>
                <tr>
                  <th>お支払い</th>
                  <td>クレジット / Edy / PayPay</td>
                </tr>
                <tr>
                  <th>メニュー</th>
                  <td>焼肉セットメニュー、焼肉単品各種、伊江<br class="u-pc">牛タタキ、ヤギ刺し、牛肉そば、牛汁そ<br class="u-pc">ば、サイコロステーキ定食、焼肉丼、など</td>
                </tr>
              </table>
            </div>
          </div>
          <!-- /.shoplist_box  -->
          <div class="shoplist_box">
            <div class="u-sp">
              <div class="shop-name">
                <h3>神庄（休業中）</h3>
                <div>
                  <p>飲食店</p>
                </div>
              </div>
            </div>
            <div class="rights">
              <div class="main_img" id="mainImg04">
                <img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img04-1.jpg?v=1681795968">
              </div>
              <ul id="subImg04">
                <li class="current c-img-shadow"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img04-1.jpg?v=1681795968"></li>
                <li><img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img04-2.jpg?v=1681795967"></li>
                <li><img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img04-3.jpg?v=1681795967"></li>
              </ul>
              <div class="main_img_bg"><img
                  class="c-img-shadow"
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img_bg.png?v=1681795968"
                  alt=""></div>
            </div>
            <div class="left">
              <div class="shop-name">
                <h3>神庄（休業中）</h3>
                <p>飲食店</p>
              </div>
              <table>
                <tr>
                  <th>住所</th>
                  <td>900-0021<br>沖縄県那覇市泉崎2丁目3-8<br>ロイヤルハイツ泉崎1階<a href="https://goo.gl/maps/7iki5o6AYoZsrrGc6" target="_blank">（地図）</a>
                  </td>
                </tr>
                <tr>
                  <th>TEL/FAX</th>
                  <td>電話：098-996-3704</td>
                </tr>
                <tr>
                  <th>営業時間</th>
                  <td>17:00～21:00（LO 20:00）</td>
                </tr>
                <tr>
                  <th>定休日</th>
                  <td>土曜日・日曜日・祝日</td>
                </tr>
                <tr>
                  <th>お支払い</th>
                  <td>クレジット / Edy / PayPay</td>
                </tr>
                <tr>
                  <th>メニュー</th>
                  <td>闘うステーキ・ヒレ肉200g、県産牛ランプ<br class="u-pc">ステーキ200g、県産黒毛和牛ステーキ（サ<br class="u-pc">ーロイン200g）、千ベロなど</td>
                </tr>
              </table>
            </div>
          </div>
          <!-- /.shoplist_box  -->
          <div class="shoplist_box">
            <div class="u-sp">
              <div class="shop-name">
                <h3>にくや</h3>
                <div>
                  <p>販売店</p>
                </div>
              </div>
            </div>
            <div class="rights">
              <div class="main_img" id="mainImg05">
                <img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img05-1.jpg?v=1681795968">
              </div>
              <ul id="subImg05">
                <li class="current c-img-shadow"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img05-1.jpg?v=1681795968"></li>
                <li><img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img05-2.jpg?v=1681795968"></li>
              </ul>
              <div class="main_img_bg"><img
                  class="c-img-shadow"
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img_bg.png?v=1681795968"
                  alt=""></div>
            </div>
            <div class="left">
              <div class="shop-name">
                <h3>にくや</h3>
                <p>販売店</p>
              </div>
              <table>
                <tr>
                  <th>住所</th>
                  <td>〒900-0233<br>沖縄県那覇市銘苅1-3-30<br>マンションHAPPY101<a href="https://goo.gl/maps/PJqgGZEPs4jXbR1a8" target="_blank">（地図）</a>
                  </td>
                </tr>
                <tr>
                  <th>TEL/FAX</th>
                  <td>電話：098-996-5429<br>FAX：098-996-5429</td>
                </tr>
                <tr>
                  <th>SNS</th>
                  <td>
                    <a href="https://www.instagram.com/nikuya29/" target="_blank">Instagram</a>
                  </td>
                </tr>
                <tr>
                  <th>営業時間</th>
                  <td>10:00～19:00</td>
                </tr>
                <tr>
                  <th>定休日</th>
                  <td>木曜日</td>
                </tr>
                <tr>
                  <th>お支払い</th>
                  <td>クレジット / Edy / PayPay</td>
                </tr>
                <tr>
                  <th>メニュー</th>
                  <td>伊江牛、九州・沖縄産黒毛和牛、沖縄県産<br class="u-pc">豚、加工肉、などッケ、など</td>
                </tr>
              </table>
            </div>
          </div>
          <!-- /.shoplist_box  -->
          <div class="shoplist_box">
            <div class="u-sp">
              <div class="shop-name">
                <h3>にくや読売</h3>
                <div>
                  <p>販売店</p>
                </div>
              </div>
            </div>
            <div class="rights">
              <div class="main_img" id="mainImg06">
                <img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img06-1.jpg?v=1681795968">
              </div>
              <ul id="subImg06">
                <li class="current c-img-shadow"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img06-1.jpg?v=1681795968"></li>
                <li><img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img06-2.jpg?v=1681795968"></li>
                <li><img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img06-3.jpg?v=1681795968"></li>
              </ul>
              <div class="main_img_bg"><img
                  class="c-img-shadow"
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img_bg.png?v=1681795968"
                  alt=""></div>
            </div>
            <div class="left">
              <div class="shop-name">
                <h3>にくや読谷</h3>
                <p>販売店</p>
              </div>
              <table>
                <tr>
                  <th>住所</th>
                  <td>〒904-0303<br>沖縄県中頭郡読谷村字伊良皆126<br>マンション58-102<a href="https://goo.gl/maps/wVhXLvAqKDJ8drb98" target="_blank">（地図）</a>
                  </td>
                </tr>
                <tr>
                  <th>TEL/FAX</th>
                  <td>電話：098-956-0290</td>
                </tr>
                <tr>
                  <th>SNS</th>
                  <td>
                    <a href="https://www.instagram.com/nikuyayomitan298/" target="_blank">Instagram</a>
                  </td>
                </tr>
                <tr>
                  <th>営業時間</th>
                  <td>11:00～19:00（LO 18:20）</td>
                </tr>
                <tr>
                  <th>定休日</th>
                  <td>無休</td>
                </tr>
                <tr>
                  <th>お支払い</th>
                  <td>クレジット / PayPay</td>
                </tr>
                <tr>
                  <th>メニュー</th>
                  <td>【精肉】伊江牛、九州・沖縄産黒毛和牛、<br class="u-pc">沖縄県産豚、加工肉、など<br>【お食事】ステーキ丼、闘うステーキ、や<br class="u-pc">きにく丼、1Poundステーキ、牛汁定食、<br class="u-pc">あぐーそば、焼肉定食、など</td>
                </tr>
              </table>
            </div>
          </div>
          <!-- /.shoplist_box  -->
          <div class="shoplist_box">
            <div class="u-sp">
              <div class="shop-name">
                <h3>勝（休業中）</h3>
                <div>
                  <p>飲食店</p>
                </div>
              </div>
            </div>
            <div class="rights">
              <div class="main_img" id="mainImg07">
                <img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img07-1.jpg?v=1681795967">
              </div>
              <ul id="subImg07">
                <li class="current c-img-shadow"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img07-1.jpg?v=1681795967"></li>
                <li><img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img07-2.jpg?v=1681795967"></li>
                <li><img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img07-3.jpg?v=1681795968"></li>
              </ul>
              <div class="main_img_bg"><img
                  class="c-img-shadow"
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img_bg.png?v=1681795968"
                  alt=""></div>
            </div>
            <div class="left">
              <div class="shop-name">
                <h3>勝（休業中）</h3>
                <p>飲食店</p>
              </div>
              <table>
                <tr>
                  <th>住所</th>
                  <td>〒904-0305<br>沖縄県中頭郡読谷村字都屋257-2F<a href="https://goo.gl/maps/nedDko2FcF5DHtnA6" target="_blank">（地図）</a>
                  </td>
                </tr>
                <tr>
                  <th>TEL/FAX</th>
                  <td>電話：098-956-2945</td>
                </tr>
                <tr>
                  <th>営業時間</th>
                  <td>17:00～23:00</td>
                </tr>
                <tr>
                  <th>定休日</th>
                  <td>日曜日</td>
                </tr>
                <tr>
                  <th>お支払い</th>
                  <td>クレジット / PayPay</td>
                </tr>
                <tr>
                  <th>メニュー</th>
                  <td>県産和牛 メガ盛り（500g）、焼肉単品各<br class="u-pc">種、伊江牛生ユッケ、黒毛和牛たたき、串<br class="u-pc">焼各種、サラダ、アラカルト、スープ、など</td>
                </tr>
              </table>
            </div>
          </div>
          <!-- /.shoplist_box  -->
          <div class="shoplist_box">
            <div class="u-sp">
              <div class="shop-name">
                <h3>にくや精肉店</h3>
                <div>
                  <p>販売店</p>
                </div>
              </div>
            </div>
            <div class="rights">
              <div class="main_img" id="mainImg08">
                <img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img08-1.jpg?v=1681795967">
              </div>
              <ul id="subImg08">
                <li class="current c-img-shadow"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img08-1.jpg?v=1681795967"></li>
                <li><img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img08-2.jpg?v=1681795967"></li>
              </ul>
              <div class="main_img_bg"><img
                  class="c-img-shadow"
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img_bg.png?v=1681795968"
                  alt=""></div>
            </div>
            <div class="left">
              <div class="shop-name">
                <h3>にくや精肉店</h3>
                <p>販売店</p>
              </div>
              <table>
                <tr>
                  <th>住所</th>
                  <td>〒904-0305<br>沖縄県中頭郡読谷村字都屋257-1F<a href="https://goo.gl/maps/bFJzLcJgc5ANsneH8" target="_blank">（地図）</a>
                  </td>
                </tr>
                <tr>
                  <th>TEL/FAX</th>
                  <td>電話：098-956-2945</td>
                </tr>
                <tr>
                  <th>営業時間</th>
                  <td>13:00～19:00</td>
                </tr>
                <tr>
                  <th>定休日</th>
                  <td>水曜日・木曜日</td>
                </tr>
                <tr>
                  <th>お支払い</th>
                  <td>クレジット / Edy / PayPay</td>
                </tr>
                <tr>
                  <th>メニュー</th>
                  <td>伊江牛、九州・沖縄産黒毛和牛、沖縄県産<br class="u-pc">豚、加工肉、など</td>
                </tr>
              </table>
            </div>
          </div>
          <!-- /.shoplist_box  -->
          <div class="shoplist_box">
            <div class="u-sp">
              <div class="shop-name">
                <h3>昌健</h3>
                <div>
                  <p>飲食店</p>
                </div>
              </div>
            </div>
            <div class="rights">
              <div class="main_img" id="mainImg09">
                <img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img09-1.jpg?v=1681795968">
              </div>
              <ul id="subImg09">
                <li class="current c-img-shadow"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img09-1.jpg?v=1681795968"></li>
                <li><img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img09-2.jpg?v=1681795968"></li>
              </ul>
              <div class="main_img_bg"><img
                  class="c-img-shadow"
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img_bg.png?v=1681795968"
                  alt=""></div>
            </div>
            <div class="left">
              <div class="shop-name">
                <h3>昌健</h3>
                <p>飲食店</p>
              </div>
              <table>
                <tr>
                  <th>住所</th>
                  <td>〒105-0003<br>東京都港区西新橋1-22-1第2西欧ビル<a href="https://goo.gl/maps/TFM3nKBWFm1NLLMT8" target="_blank">（地図）</a>
                  </td>
                </tr>
                <tr>
                  <th>TEL/FAX</th>
                  <td>電話：03-3506-2992</td>
                </tr>
                <tr>
                  <th>営業時間</th>
                  <td>18:00～24:00（LO 23:30）</td>
                </tr>
                <tr>
                  <th>定休日</th>
                  <td>日曜日 祝日 土曜日（事前予約のみ対応）<br>12/24～1/9お休み</td>
                </tr>
                <tr>
                  <th>お支払い</th>
                  <td>クレジット / PayPay</td>
                </tr>
                <tr>
                  <th>メニュー</th>
                  <td>総料理長おすすめ 産地直送特選和牛盛皿、<br class="u-pc">焼肉単品各種、伊江牛たたき刺し、伊江牛<br class="u-pc">ハンバーグ、牛すじ煮込み、沖縄料理各<br class="u-pc">種、など</td>
                </tr>
              </table>
            </div>
          </div>
          <!-- /.shoplist_box  -->
          <div class="shoplist_box">
            <div class="u-sp">
              <div class="shop-name">
                <h3>にくや春日店</h3>
                <div>
                  <p>販売店</p>
                </div>
              </div>
            </div>
            <div class="rights">
              <div class="main_img" id="mainImg10">
                <img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img10-1.jpg?v=1681795967">
              </div>
              <ul id="subImg10">
                <li class="current c-img-shadow"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img10-1.jpg?v=1681795967"></li>
                <li><img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img10-2.jpg?v=1681795968"></li>
                <li><img class="c-img-shadow" src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img10-3.jpg?v=1681795967"></li>
              </ul>
              <div class="main_img_bg"><img
                  class="c-img-shadow"
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/shop_img_bg.png?v=1681795968"
                  alt=""></div>
            </div>
            <div class="left">
              <div class="shop-name">
                <h3>にくや春日店</h3>
                <p>販売店</p>
              </div>
              <table>
                <tr>
                  <th>住所</th>
                  <td>〒816-0863<br>福岡県春日市須玖南3丁目6番地の1<a href="https://goo.gl/maps/Wrt96xPrJL6ez4pN8" target="_blank">（地図）</a>
                  </td>
                </tr>
                <tr>
                  <th>TEL/FAX</th>
                  <td>電話：092-401-0290</td>
                </tr>
                <tr>
                  <th>営業時間</th>
                  <td>10:00～20:00</td>
                </tr>
                <tr>
                  <th>お支払い</th>
                  <td>クレジット / 各種キャッシュレス決済</td>
                </tr>
                <tr>
                  <th>メニュー</th>
                  <td>サイコロ、カルビ、コロッケ、メンチカ<br class="u-pc">ツ、沖縄県産菓子類、伊江牛ビーフジャー<br class="u-pc">キー、泡盛、たっちゅう工房ソーセージ、<br class="u-pc">ハム類</td>
                </tr>
              </table>
            </div>
          </div>
          <!-- /.shoplist_box  -->
        </div>
      </section>

      <section class=" p-bottom-inquiry">
        <div class="l-content__inner">
          <h2 class="p-section__ttl u-align--center c-shuei">お問い合わせ<span class="c-en">CONTACT</span>
          </h2>
          <!-- /.c-section__ttl -->
          <div class="p-bottom-inquiry-content">
            <a href="tel:0989922929" class="p-bottom-inquiry__block p-tel">
              <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/icn_tel.svg?v=1681795966" alt=""></i>
              <div>
                <p class="c-en c-ttl">TEL</p>
                <p class="c-tel-num">098-992-2929</p>
                <p class="c-hour">（受付時間 9:00〜20:00）</p>
              </div>

            </a>
            <!-- /.p-bottom-inquiry__tel -->
            <a href="/pages/contact" class="p-bottom-inquiry__block p-form">
              <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/icn_mail.svg?v=1681795966" alt=""></i>
              <div>
                <p class="c-txt">お問い合わせフォーム</p>
              </div>
            </a>
            <!-- /.p-bottom-inquiry__form -->
          </div>
          <!-- /.p-bottom-inquiry-content -->
        </div>
        <!-- /.l-content__inner -->
      </section>
      <!-- /.p-bottom-inquiry -->
    </div>
    <!-- /.p-shop -->
  </div>
</main>