<main>
  <div class="l-bg-content">
    <div class="p-brand">
      <a href="/pages/online" class="p-fix-bnr">
        <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/icn_cart.svg?v=1681795967" alt=""></i>
        <div class="p-txt-wrapper">
          <p class="c-txt">オンラインストアはこちら</p>
          <p class="c-en">ONLINE STORE</p>
        </div>
      </a>
      <!-- /.p-fix-bnr -->
      <div class="p-mv bland_under_mv">
        <h1 class="p-content__ttl c-shuei bland_under_ttl">伊江牛ブランドのこと<span class="c-en">OUR BRAND</span>
        </h1>
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/mv_bland_sp.jpg?v=1681791650" media="(max-width: 767.98px)">
          <img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/mv_bland.jpg?v=1681791650" alt="">
        </picture>
      </div>
      <!-- /.p-mv -->
      <section class="p-whats-iegyu">
        <div class="l-content__inner">
          <div class="p-whats-iegyu-content">
            <div class="p-ttl-wrapper">
              <h2 class="p-sectiont__ttl c-shuei">
                <span class="c-jp">『幻の牛』</span>
                <span class="c-ajust">伊江牛</span>
                <span class="c-en">WHAT’S IEGYU</span>
              </h2>
            </div>
            <p class="c-txt u-pc-align--center">伊江牛とは、弊社が肥育、加工、販売する黒毛和牛です。<br>
              ミネラル豊富な土壌で豊かな自然の伊江島で丹精込めて育てられた仔牛たちは日本各地に出荷され、<br class="u-pc">
              各地の有名ブランド牛になります。<br>
              そのため伊江島で育つ伊江牛はごくわずかで、「幻の牛」とも呼ばれるほど希少価値の高いブランド牛です。</p>
            <div class="p-img-wrapper">
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_sp-brand01.png?v=1681795967" media="(max-width: 767.98px)">
                <img
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_brand01.png?v=1681795968"
                  alt=""
                  class="c-img-shadow">
              </picture>
            </div>
            <!-- /.p-img-wrapper -->
          </div>
          <!-- /.p-whats-iegyu-content -->
        </div>
        <!-- /.l-content__inner -->
      </section>
      <!-- /.p-whats-iegyu -->
      <section class="p-about-iegyu">
        <div class="l-content__inner">
          <div class="p-about-iegyu-content">
            <div class="p-ttl-wrapper">
              <h2 class="p-section__ttl c-shuei">伊江牛が育つ島、伊江島
                <span class="c-en">ABOUT IEJIMA</span>
              </h2>
              <!-- /.p-section__ttl -->
            </div>
            <!-- /.p-ttl-wrapper -->
            <p class="c-txt">沖縄本島北部の本部港（もとぶこう）からフェリーで30分。<br>
              面積約22.75km²（周囲22.4km）、人口4,489人（2020年8月現在）の小さな島。<br>
              島の大部分が琉球石灰岩で出来ており、さとうきび、島らっきょう、落花生、牧草などの良質な農作物が有名で、<br class="u-pc">肉用牛、乳用牛、もずく養殖、ソデイカ漁、延縄漁なども盛ん。<br>
              観光名所にはタッチューやワジ（湧出）、ニャティア洞があり、<br class="u-pc">毎年4月中旬方5月にかけて島の北にある『リリーフィールド公園』で行われる<br class="u-pc">『伊江島ゆり祭り』では100万輪のテッポウユリが咲き、大勢の観光客が訪れる。
            </p>
            <div class="p-img-wrapper">
              <picture class="c-img01">
                <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_sp-brand02.jpg?v=1681795967" media="(max-width: 767.98px)">
                <img
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_brand02.jpg?v=1681795967"
                  alt=""
                  class="c-img-shadow">
              </picture>
              <picture class="c-img02">
                <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_sp-brand03.jpg?v=1681795967" media="(max-width: 767.98px)">
                <img
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_brand03.jpg?v=1681795967"
                  alt=""
                  class="c-img-shadow">
              </picture>
            </div>
            <!-- /.p-img-wrapper -->
          </div>
          <!-- /.p-about-iegyu-content -->
        </div>
        <!-- /.l-content__inner -->
        <div class="p-brand-block">
          <div class="l-content__inner">
            <div class="p-media-grid">
              <h3 class="p-media__ttl">伊江牛の特徴</h3>
              <div class="p-media__img-wrapper">
                <img
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_brand04.png?v=1681795967"
                  alt=""
                  class="c-img-shadow">

              </div>
              <p class="c-txt">
                伊江牛の特徴は味わい深い赤身の肉と、香りのよい脂はさっぱりとした仕上がり。繁殖牛の出産時期や経過を見極めた上で肥育牛に移行させるなど、様々なシステムにより上等級の肉質ながら格安の値段での提供できるよう努めております。生産から加工・販売まで自社で一貫して行う完全オリジナルブランドは伊江牛だけです！
              </p>
            </div>
            <!-- /.p-media -->
          </div>
          <div class="p-brand-bottom-img">
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_sp-brand05.jpg?v=1681795967" media="(max-width: 767.98px)">
              <img
                src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_brand05.jpg?v=1681795968"
                alt=""
                class="c-img-shadow">
            </picture>
          </div>
          <!-- /.p-brand-bottom-img -->
        </div>
        <!-- /.p-brand-block -->
        <div class="p-brand-block">
          <div class="l-content__inner">
            <div class="p-media-grid p-reverse">
              <h3 class="p-media__ttl u-pt">琉球石灰岩の豊富なミネラルが良質の<br class="u-pc">牧草を育てる</h3>
              <div class="p-media__img-wrapper">
                <img
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_brand06.png?v=1681795968"
                  alt=""
                  class="c-img-shadow">
              </div>
              <!-- /.p-media__img-wrapper -->
              <p class="c-txt u-pc-mt_1">
                伊江島の石灰地層から養分を吸収して育つ牧草やサトウキビは、他にはないほどにミネラルが豊富に含まれています。その様な栄養価の高い牧草を餌として与え、牛1頭1頭の体調や環境に気を配り、丹精込めて伊江牛は育てられています。出荷する牛は個体識別番号（トレーサビリティシステム）で安心安全に管理されています。
              </p>
            </div>
            <!-- /.p-media -->
          </div>
          <div class="p-brand-bottom-img">
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_sp-brand07.jpg?v=1681795967" media="(max-width: 767.98px)">
              <img
                src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_brand07.jpg?v=1681795967"
                alt=""
                class="c-img-shadow">
            </picture>
          </div>
          <!-- /.p-brand-bottom-img -->
        </div>
        <!-- /.p-brand-block -->
        <div class="p-brand-block">
          <div class="l-content__inner">
            <div class="p-media-grid">
              <h3 class="p-media__ttl">伊江牛の特自の技術による飼育・精肉</h3>
              <div class="p-media__img-wrapper">
                <img
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_brand08.png?v=1681795968"
                  alt=""
                  class="c-img-shadow">

              </div>
              <!-- /.p-media__img-wrapper -->
              <p class="c-txt">
                弊社独自の解体・熟成・加工技術を持った職人たちが丁寧に商品に仕上げています。牛を育て、加工まで担う肉のプロフェッショナル達がより高品質な製品を作っています。工場はＨＡＣＣＡＰに準じた衛生管理を行っており、昔ながらの手間暇かけた製造方法にこだわって沖縄県産豚を使用したハム、ウインナーも製造しています。
              </p>
            </div>
            <!-- /.p-media -->
          </div>
          <div class="p-brand-bottom-img">
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_sp-brand09.jpg?v=1681795967" media="(max-width: 767.98px)">
              <img
                src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_brand09.jpg?v=1681795967"
                alt=""
                class="c-img-shadow">
            </picture>
          </div>
          <!-- /.p-brand-bottom-img -->
        </div>
        <!-- /.p-brand-block -->
        <div class=" p-brand-block">
          <div class="l-content__inner">
            <div class="p-media-grid p-reverse">
              <h3 class="p-media__ttl">各地のブランド牛に成長する仔牛</h3>
              <div class="p-media__img-wrapper">
                <img
                  src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_brand10.png?v=1681795967"
                  alt=""
                  class="c-img-shadow">
              </div>
              <p class="c-txt u-pc-mt_5">
                伊江島の大地のミネラルをたっぷり含んだ牧草を食べ、１頭１頭丹精込めて育てられた伊江牛の仔牛たちは、日本各地に出荷され、それぞれの地域のブランド国産黒毛和牛として育てられます。
              </p>
            </div>
            <!-- /.p-media -->
          </div>
          <div class="p-brand-bottom-img">
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_sp-brand11.jpg?v=1681795967" media="(max-width: 767.98px)">
              <img
                src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/img_brand11.jpg?v=1681795968"
                alt=""
                class="c-img-shadow">
            </picture>
          </div>
          <!-- /.p-brand-bottom-img -->
        </div>
        <!-- /.p-brand-block -->
      </section>
      <!-- /.p-about-iegyu -->
      <section class=" p-bottom-inquiry">
        <div class="l-content__inner">
          <h2 class="p-section__ttl u-align--center c-shuei">お問い合わせ<span class="c-en">CONTACT</span>
          </h2>
          <!-- /.c-section__ttl -->
          <div class="p-bottom-inquiry-content">
            <a href="tel:0989922929" class="p-bottom-inquiry__block p-tel">
              <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/icn_tel.svg?v=1681795966" alt=""></i>
              <div>
                <p class="c-en c-ttl">TEL</p>
                <p class="c-tel-num">098-992-2929</p>
                <p class="c-hour">（受付時間 9:00〜20:00）</p>
              </div>

            </a>
            <!-- /.p-bottom-inquiry__tel -->
            <a href="/pages/contact" class="p-bottom-inquiry__block p-form">
              <i class="c-icn"><img src="https://cdn.shopify.com/s/files/1/0746/3652/5852/files/icn_mail.svg?v=1681795966" alt=""></i>
              <div>
                <p class="c-txt">お問い合わせフォーム</p>
              </div>
            </a>
            <!-- /.p-bottom-inquiry__form -->
          </div>
          <!-- /.p-bottom-inquiry-content -->
        </div>
        <!-- /.l-content__inner -->
      </section>
      <!-- /.p-bottom-inquiry -->
    </div>
    <!-- /.p-about -->
  </div>
</main>